*{
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
}

body{
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

#main{
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    display: grid;
}

#tip{
    font-size: 25px;
}

#heading{
    text-decoration: underline;
}

#btn{
    /* height: 20px; */
    width: 120px;
    padding: 5px;
    border-color: black;
    border-radius: 10px;
    background-color: #ff9800;
}

#rnd{
    margin-bottom: 5px;
    padding: 20px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}
 
#rnp{
    text-align: center;
    font-size: 50px;
}